body {
    color: #40514E;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}
h1 {
    font-size: 5.625rem;
    margin-top: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    color: #66BFBF;
    
}
h2 {
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    color: #66BFBF;
    font-weight: normal;
    
}
h3 {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}
.top-cloud {
    position: absolute;
    right: 450px;
    top: 50px;
}
.bottom-cloud {
    position: absolute;
    left: 350px;
    bottom: 400px;
    
}
.top-container {
    background-color: #E4F9F5;
    position: relative;
    padding: 100px;
}    
.picture-circular {
    width: 25%;
}
.skills-img{
    border-radius: 150%;
    float: left;
    width: 25%;
    margin-right: 30px;;
    
}
.burger {
    border-radius: 150%;
    width: 25%;
    float: right;
    margin-left: 30px;
}
.middle-container{
 margin: 100px;
}
.bottom-container {
background-color: #66BFBF;
padding: 50px 0 20px;
}
span {
    text-decoration: underline;
}
.skill-row {
 width: 50%;
 margin:100px auto 100px auto;
 text-align: left;
}
p {
    line-height: 2;
}
hr {
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}
a {
    color: #11999E;
    margin: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}
a:hover {
    color:#EAF6F6
}
.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }